
@media only screen and (min-width: 746px){
	/*navigation*/
	.nav-wrapper ul{
		text-align: center;
	}

	.nav-wrapper ul li{
		display:inline-block;
		font-size: 1.2em;
		padding: 0 40px 0 40px;
	}

	/*homepage*/
	.main-home{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: 20px;
	}
	
	.main-home img, p{
		padding: 10px;
		align-self: center;
	}
	
	.main-home p{
		font-size: .9em;
	}

	/*about page*/
	
	/*.photos{
		display: grid;

	}*/



	.main-about{
		display: grid;
		grid-template-columns: auto auto auto auto;
		grid-template-rows: auto auto auto auto;
		grid-column-gap: 20px;
	}

	.window{
		grid-column: 1/span 1;
		grid-row: 1/span 1;
			
	}

	.pretty{
		grid-column: 1/span 1;
		grid-row: 2/span 1;
	}

	.bug{
		
		grid-column: 1/span 1;
		grid-row: 3/span 1;
	}
	.xmas{
	
		grid-column: 1/span 1;
		grid-row: 4/span 1;
	}

	.p1{
		grid-column: 2/span 3;
		grid-row: 1/span 1;
	}

	.ul1{
		grid-column: 2/span 3;
		grid-row: 2/span 2;
	}

	.p2{
		grid-column: 2/span 3;
		grid-row: 4/span 1;
	}
	
	.main-about img{
		padding: 10px;
		width: 100%;
		
	}
	
	.main-about p{
		font-size: .9em;
	}


	/*footer*/
	.foot-wrapper p{
		font-size: .65em;
	}
}



@media only screen and (min-width: 1000px){
	/*header*/
	header h1, header h2{
		text-align: left;
		line-height: .5em;
	}
	/*navigation*/
	.nav-wrapper ul{
		text-align: right;
		line-height: 1em;
	}



}



