/*HEX color harmony of site
#7F4E53 -- dusty rose (wrapper, h1)
#FF485A -- bright salmon pink -- not really good color
#FF9BA5 -- light pastel pink (body)
#7F3B41 -- dark rose
#CC7C84 -- dusty light pink (header, nav-wrapper)

pink -- (h2, )
*/

/*DESIGN MOBILE FIRST!!!!*/
/*Base Styles*/

html, body, header, footer{
	font-family: 'Lato', 'Railway', sans-serif;

}


body{
	font-family: "Railway", sans-serif;
	background-color: #FF9BA5;
}


.wrapper{
	display: block;
	background-color: #7F4E53;
	color: #DDDDDA;
}

.header-wrapper, .nav-wrapper, .main, .foot-wrapper{
	display: block;
	overflow:hidden;
}

/*Header/Navigation -- stays the SAME across all pages*/

header{
	background-color: #CC7C84;
}

header h1{
	text-transform: uppercase;
	text-align: center;
	color: #7F3B41;
	line-height: 1em;
	font-family: "Railway", sans-serif;
}

header h1 a{
	text-decoration: none;
}

header h1 a:visited{
	color: inherit;
}

header h2{
	font-variant: small-caps;
	text-align: center;
	color: #4F292D;
	font-family: "Railway", sans-serif;
}

.nav-wrapper{
	text-align: center;
	line-height: 2em;
	background-color: #CC7C84;
	border-top: 3px solid #FF9BA5;
}

.nav-wrapper ul{
	padding: 0 2.5em 0 2.5em;
}

.nav-wrapper li {
	list-style-type: none;
}

.nav-wrapper a{
	text-decoration: none;
	color: #4F292D;
	/*padding: 8px;*/
	font-variant: small-caps;
	font-family: "Lato" bold;
	font-size: 1.1em;
}

/*NOTE: jquery -- on.("hover", function() {
	font-weight: 900;}*/

#current-page{
	font-weight: bold;
	text-decoration-line: underline;
	text-decoration-style: wavy;
	color: #4F292D;
}

/*Content*/

/*HOMEPAGE*/
.main-home {
	background-color: #7F4E53;
	text-align: center;
	border-top: 3px solid #FF9BA5;
	font-size: 1.75em;
}

.main-home p{
	text-align: center;
	color: pink;
	font-family: "Railway", sans-serif;
	padding: .5em;
}

.main-home img{
	width: 100%;
}


/*ABOUT PAGE*/

.main-about {
	background-color: #7F4E53;
	text-align: center;
	border-top: 3px solid #FF9BA5;
}

.main-about p{
	text-align: center;
	color: pink;
	font-family: "Railway", sans-serif;
	font-size: .85em;
	padding: .5em;
}

.main-about ul{
	list-style-type: square;
	text-align: left;
}

.main-about li{
	color: pink;
	font-size: .85em;
	padding: .5em;
	font-family: "Railway", sans-serif;
}

.main-about img{
	width: 100%;
	padding-top: 10px;
}


/*Memories PAGE*/

.main-memories {
	background-color: #7F4E53;
	text-align: center;
	border-top: 3px solid #FF9BA5;
}

.main-memories p{
	text-align: center;
	color: pink;
	font-family: "Railway", sans-serif;
	font-size: 1em;
	padding: .5em;
}

.sub {
	font-weight: bold;
	text-decoration: underline;
}

.psst{
	font-style: italic;
	font-variant: small-caps;
}

.main-memories img{
	padding-top: 10px;
	width: 100%;
}




/*CONTACT PAGE*/

fieldset{
	background-image: url("../imgs/catbackground.jpg");
	text-shadow:-1.5px -.5px black;
}

input[type = "text"]{
	display: inline-block;
	position: absolute;
	left: 120px;
}

input[type = "email"]{
	display: inline-block;
	position: absolute;
	left: 120px;
}

input[type = "submit"]{
	margin-bottom: 10px;
	margin-left: 110px;
}

/*Footer*/
.foot-wrapper{
	background-color: #7F4E53;
	color: pink;
	padding: .5em;
	border-top: 3px solid #FF9BA5;

}

.foot-wrapper p{
	text-align: right;
	font-size: .75em;
}



/*custom scrollbar*/

::-webkit-scrollbar {
    width: 6px;
}
 
::-webkit-scrollbar-track { 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #7F3B41;
    
}






